<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Online Book Store</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/css/responsive.css">
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">

         <!-- TOP Nav Bar -->
         <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
               <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="iq-menu-bt d-flex align-items-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="las la-bars"></i></div>
                     </div>
                     <div class="iq-navbar-logo d-flex justify-content-between">
                        <a href="index.html" class="header-logo">
                           <img src="images/logo.png" class="img-fluid rounded-normal" alt="">
                           <div class="logo-title">
                              <span class="text-primary text-uppercase">Online Book Store</span>
                           </div>
                        </a>
                     </div>
                  </div>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                  <i class="ri-menu-3-line">

                  </i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav ml-auto navbar-list">
                        <li class="line-height pt-3">
                           <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                              <img src="images/user/1.jpg" class="img-fluid rounded-circle mr-3" alt="user">
                              <div class="caption">
                                 <h6 class="mb-1 line-height" th:text="${currentUser.getFullName()}"></h6>
                              </div>
                           </a>
                           <div class="iq-sub-dropdown iq-user-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white line-height">Hello <span th:text="${currentUser.getFullName()}"></span></h5>
                                       <span class="text-white font-size-12">Available</span>
                                    </div>
                                    <a href="/profile" class="iq-sub-card iq-bg-primary-hover">
                                       <div class="media align-items-center">
                                          <div class="rounded iq-card-icon iq-bg-primary">
                                             <i class="fa fa-user"></i>
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">My Profile</h6>
                                             <p class="mb-0 font-size-12">View personal profile details.</p>
                                          </div>
                                       </div>
                                    </a>

                                    <div class="d-inline-block w-100 text-center p-3">
                                       <a class="bg-primary iq-sign-btn" href="/user/logout" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page"  class="mt-5">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height rounded">
                        <div class="newrealease-contens">
                           <ul id="newrealease-slider" class="list-inline p-0 m-0 d-flex align-items-center">


                              <li th:each="book : ${otherBooks}" style="border: 5px solid #c80000;" class="item d-flex flex-column align-items-center text-center">
                                 <span class="badge-success" th:if="${book.lendedTo!=null&&book.lendedTo.equals(currentUser.getUsername())}">
                                     (You have borrowed this book)
                                 </span>
                                 <span class="badge-warning" th:if="${book.hasRequestedTheBook(currentUser)&&!(book.lendedTo!=null&&book.lendedTo.equals(currentUser.getUsername()))}">
                                     (You have requested this book)
                                 </span>
                                 <div class="mt-3">
                                    <div>Title: <span th:text="${book.book.getTitle()}"></span></div>
                                    <div>Author: <span th:text="${book.book.getAuthor()}"></span></div>
                                    <div>Category: <span th:text="${book.book.getCategory()}"></span></div>
                                    <div>Owner: <span th:text="${book.book.getUsername()}"></span></div>
                                 </div>
                                 <div class="mt-3 mb-3">
                                    <a
                                            th:href="@{borrowBook(title=${book.book.getTitle()}, owner=${book.book.getUsername()})}"
                                            th:classappend="${book.hasRequestedTheBook(currentUser)} ? 'btn btn-info disabled' : 'btn btn-info'">
                                       Select
                                    </a>
                                 </div>
                              </li>
                           </ul>


                        </div>
                     </div>
                  </div>






                  <div class="col-lg-12">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between align-items-center position-relative">
                           <div class="iq-header-title">
                              <h4 class="card-title mb-0">My Books</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <a href="book/add" class="btn btn-sm btn-primary view-more">Add Book</a>
                           </div>
                        </div>

                        <div class="iq-card-body">
                           <div class="row">
                              <!-- Iterate over userBooks -->
                              <div th:each="book : ${userBooks}" class="mr-5 col-sm-6 col-md-4 col-lg-3">
                                 <div class="iq-card iq-card-block iq-card-stretch iq-card-height browse-bookcontent">
                                    <div class="iq-card-body p-0">
                                       <div class="d-flex align-items-center">
                                          <div class="col-6 p-0 position-relative image-overlap-shadow">
                                             <!-- Book Details -->
                                             <div>
                                                <h6 th:text="${book.book.title}" class="mb-1"></h6>
                                             </div>
                                             <div>
                                                <p class="font-size-13 line-height mb-1" th:text="${book.book.author}"></p>
                                             </div>
                                             <div>
                                                <span class="font-size-11 text-warning" th:text="${book.book.category}"></span>
                                             </div>

                                             <!-- View Summary Button -->
                                             <div class="view-book">
                                                <button type="button" class="btn btn-sm btn-white view-summary-btn" data-toggle="modal" data-target="#summaryModal"
                                                        th:data-book-title="${book.book.title}" th:data-book-summary="${book.book.summary}">
                                                   View Summary
                                                </button>
                                             </div>
                                          </div>


                                          <div >
                                             <!-- Check if the book is lent out -->
                                                <div th:if="${book.lendedTo!=null}" class="alert-success">
                                                   Lended to: <span th:text="${book.lendedTo}"></span>
                                                </div>

                                             <!-- Render 'Requested By' section only if the book hasn't been lent out -->
                                                <div th:if="${book.lendedTo==null}">
                                                   <p>
                                                      <strong>Requested By:</strong>
                                                   </p>
                                                   <ul>
                                                      <li th:each="requestItem : ${book.requestsToThisBook}">
                                                         <p th:text="${requestItem.username}"></p>
                                                         <a th:href="@{/confirmRequest(username=${requestItem.username}, title=${requestItem.title}, holder=${requestItem.holder})}" class="btn btn-info">
                                                            <i class="fa fa-check"></i> Confirm
                                                         </a>
                                                         <a th:href="@{/rejectRequest(username=${requestItem.username}, title=${requestItem.title}, holder=${requestItem.holder})}" class="btn btn-info">
                                                            <i class="fa fa-close" style="color: red;"></i> Reject
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                          </div>





                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="summaryModalLabel">Book Summary</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <p id="summaryContent"></p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>




















                  <div class="col-lg-6">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between mb-0">
                           <div class="iq-header-title">
                              <h4 class="card-title">Favourite categories</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="row align-items-center">
                              <div class="col-12 mt-3 mt-sm-0">
                                 <h4 class="mb-2">Your favourite categories</h4>
                                 <ul>
                                    <li th:each="list: ${currentUser.getCategoriesAsList()}" th:text="${list}"></li>
                                 </ul>
                                 <span class="text-dark mb-3 d-block">
                                    <input type="text" id="categoryInput" placeholder="Enter category"/>
                                 </span>
                                 <button type="submit" class="btn btn-primary learn-more">Add Category</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>


                  <div class="col-lg-6">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between mb-0">
                           <div class="iq-header-title">
                              <h4 class="card-title">Suggested Books</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <ul class="list-inline row mb-0 align-items-center iq-scrollable-block">



                              <li th:each="book : ${otherBooks}" th:if="${currentUser.isFavouriteCategory(book.book.getCategory())}" class="col-sm-6 d-flex mb-3 align-items-center">
                                 <div class="mt-1">
                                    <h6 th:text="${book.book.title}"></h6>
                                    <div>
                                       <p class="font-size-13 line-height mb-1" th:text="${book.book.author}"></p>
                                    </div>
                                    <div>
                                       <span class="font-size-11 text-warning" th:text="${book.book.category}"></span>
                                    </div>

                                    <!-- View Summary Button -->
                                    <div class="view-book">
                                       <button type="button" class="btn btn-sm btn-white view-summary-btn" data-toggle="modal" data-target="#summaryModal"
                                               th:data-book-title="${book.book.title}" th:data-book-summary="${book.book.summary}">
                                          View Summary
                                       </button>
                                    </div>
                                 </div>
                              </li>




                           </ul>
                        </div>
                     </div>
                  </div>




                  <div class="col-lg-12">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between align-items-center position-relative">
                           <div class="iq-header-title">
                              <h4 class="card-title mb-0">Requests</h4>
                           </div>
                           <!--<div class="iq-card-header-toolbar d-flex align-items-center">
                              <a href="category.html" class="btn btn-sm btn-primary view-more">View More</a>
                           </div>-->
                        </div>                         
                        <div class="iq-card-body favorites-contens">
                           <ul id="favorites-slider" class="list-inline p-0 mb-0 row">



                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <footer class="iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
               </div>
               <div class="col-lg-6 text-right">
                  Copyright <span id="copyright"> 
<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</span> <a href="https://pavlos.orfanidis.net.gr">Pavlos Orfanidis</a> All Rights Reserved.
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer END -->
      <!-- color-customizer -->
      <div class="iq-colorbox color-fix">
         <div class="buy-button"> <a class="color-full" href="#"><i class="fa fa-spinner fa-spin"></i></a> </div>
         <div id="right-sidebar-scrollbar" class="iq-colorbox-inner">
            <div class="clearfix color-picker">
               <h3 class="iq-font-black">Awesome Colors</h3>
               <p>This color combo available inside whole template. You can change on your wish, Even you can create your own with limitless possibilities! </p>
               <ul class="iq-colorselect clearfix">
                  <li class="color-1 iq-colormark" data-style="color-1"></li>
                  <li class="color-2" data-style="iq-color-2"></li>
                  <li class="color-3" data-style="iq-color-3"></li>
                  <li class="color-4" data-style="iq-color-4"></li>
                  <li class="color-5" data-style="iq-color-5"></li>
                  <li class="color-6" data-style="iq-color-6"></li>
                  <li class="color-7" data-style="iq-color-7"></li>
                  <li class="color-8" data-style="iq-color-8"></li>
                  <li class="color-9" data-style="iq-color-9"></li>
                  <li class="color-10" data-style="iq-color-10"></li>
                  <li class="color-11" data-style="iq-color-11"></li>
                  <li class="color-12" data-style="iq-color-12"></li>
                  <li class="color-13" data-style="iq-color-13"></li>
                  <li class="color-14" data-style="iq-color-14"></li>
                  <li class="color-15" data-style="iq-color-15"></li>
                  <li class="color-16" data-style="iq-color-16"></li>
                  <li class="color-17" data-style="iq-color-17"></li>
                  <li class="color-18" data-style="iq-color-18"></li>
                  <li class="color-19" data-style="iq-color-19"></li>
                  <li class="color-20" data-style="iq-color-20"></li>
               </ul>
               <a target="_blank" class="btn btn-primary d-block mt-3" href="">Purchase Now</a>
            </div>
         </div>
      </div>
      <!-- color-customizer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/b0d67becdd.js" crossorigin="anonymous"></script>
      <!-- Appear JavaScript -->
      <script src="js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="js/lottie.js"></script>
      <!-- am core JavaScript -->
      <script src="js/core.js"></script>
      <!-- am charts JavaScript -->
      <script src="js/charts.js"></script>
      <!-- am animated JavaScript -->
      <script src="js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script src="js/kelly.js"></script>
      <!-- am maps JavaScript -->
      <script src="js/maps.js"></script>
      <!-- am worldLow JavaScript -->
      <script src="js/worldLow.js"></script>
      <!-- Raphael-min JavaScript -->
      <script src="js/raphael-min.js"></script>
      <!-- Morris JavaScript -->
      <script src="js/morris.js"></script>
      <!-- Morris min JavaScript -->
      <script src="js/morris.min.js"></script>
      <!-- Flatpicker Js -->
      <script src="js/flatpickr.js"></script>
      <!-- Style Customizer -->
      <script src="js/style-customizer.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>

      <!-- JavaScript to populate modal content -->
      <script th:inline="javascript">
         $(document).ready(function() {
            $('.view-summary-btn').on('click', function() {
               var title = $(this).data('book-title');
               var summary = $(this).data('book-summary');
               $('#summaryModalLabel').text(title);
               $('#summaryContent').text(summary);
            });
         });
      </script>
   </body>
</html>